In [1]:
import numpy as np

In [19]:
marks = [    
 [85, 90, 78, 92, 88], 
 [75, 80, 70, 68, 72], 
 [90, 92, 94, 96, 98], 
 [60, 65, 63, 58, 70]] # each row represent a student marks.

In [18]:
# convert to numpy array. 
n_marks = np.array(marks)

In [9]:
print(type(n_marks))
print(type(marks))

<class 'numpy.ndarray'>
<class 'list'>

In [26]:
# get the total marks per student.
total_marks = np.sum(n_marks , axis = 1) # axis = 1 apply the function to each row. --> 1st row 85+90+78+92+88 .. etc

In [22]:
# average marks per student. 
avg_marks = np.mean(n_marks , axis = 1)

In [23]:
# maximum marks per student.
max_marks = np.max(n_marks , axis = 1)

In [24]:
# minimum marks per student.
min_marks = np.min(n_marks , axis = 1)

In [33]:
for student in range(len(n_marks)):
    print(f'data of student number{student+1}\
    \ntotal marks: {total_marks[student]}\
    \naverage marks: {avg_marks[student]}\
    \nmaximum mark: {max_marks[student]}\
    \nminimum mark: {min_marks[student]}')

data of student number1
total marks: 433
average marks: 86.6
maximum mark: 92
minimum mark: 78
data of student number2
total marks: 365
average marks: 73.0
maximum mark: 80
minimum mark: 68
data of student number3
total marks: 470
average marks: 94.0
maximum mark: 98
minimum mark: 90
data of student number4
total marks: 316
average marks: 63.2
maximum mark: 70
minimum mark: 58